<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-8 col-lg-offset-4 col-md-offset-3 col-sm-offset-2">
        <div class="login-block">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="login-logo text-center">
                        <img class="login-form-img" alt="JobClip">
                    </div>

                    <hr>

                    <form id="loginForm" ng-submit="login.userLogin(login.user)">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-user fa-fw"></i>
                                </div>
                                <input type="text" id="loginUsername" ng-model="login.user.username" class="form-control" placeholder="Username" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-key fa-fw"></i>
                                </div>
                                <input type="password" id="loginPassword" ng-model="login.user.password" class="form-control" placeholder="Password" required/>
                            </div>
                        </div>
                        <div ng-show="login.displayError" style="margin-top:10px;" class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" ng-click="login.closedError()" class="close" aria-label="Close"><span aria-hidden="true">&times;</span>
                            </button>
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span> Incorrect username/password
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
